.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.dashboard-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.search-and-filter {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-bar {
  position: relative;
}

.search-input {
  padding: 8px 30px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.filter-select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.profile-section {
  display: flex;
  align-items: center;
}
.profile-section img{
  width: 40px;
  border-radius: 50%;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ddd;
  object-fit: cover;
}
